select {
  margin-bottom: 20px;
}

img {
  max-width: 500px;
}

i {
  display: block;
  font-size: 30px;
}

.sets {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  grid-gap: 5px;
  width: 80vw;
  margin: 0 auto;
}

.set {
  padding: 0 10px;
  text-align: left;
  border: 2px solid orange;
  background-color: peachpuff;
}
